<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/images/PivotalPDFIcon.png" />
  <title>Pivotal PDF</title>
  <meta name="description" content="A PDF document generator for Pivotal Tracker.">
    <!-- Bootstrap core CSS -->
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
   <script type="text/javascript">
      function formSubmit()
      {
         document.getElementById("getStories").submit();
      }
   </script>

</head>
<body>
  
   <!-- Include Facebook JS SDK -->
   <div id="fb-root"></div>
   <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>   
   
   <nav class="navbar navbar-default header">
     <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand header-logo" href="#">
            <img alt="Brand" src="/images/PivotalPDFIcon.png" width="25px" height="25px">
         </a>
         <a class="navbar-brand" href="#">Pivotal PDF</a>
       </div>

       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav">
           <li class="dropdown project-selector">
             {% if apiKey %}
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
               {% if selected_project == None %}
                 Project
               {% else %}
                 {% for project in projects %}
                   {% if project.id == selected_project %}
                     {{project.name}}
                   {% endif %}
                 {% endfor %}
               {% endif %}
               <span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
               {% for project in projects %}
                 <li><a href="getStories/{{project.id}}">{{project.name}}</a></li>
               {% endfor %}
             </ul>
           {% endif %}
           </li>
         </ul>        
        
         <ul class="nav navbar-nav navbar-right">
           <li class="nav-link"><a class="text-uppercase" href="SignOut"><strong>Sign Out</strong></a></li>
         </ul>
       </div>
     </div>
   </nav>    
   <div class="site-wrapper container-fluid">
      <div class="row">
        <div class="col-md-12">
         <form id="filterStories" action="/filterStories" method="post" class="form-inline">             
            <div class="form-group">
               <div class="input-group">
                  <span class="input-group-addon">
                     <input type="checkbox" aria-label="Features" id="featuresChecked" name="featuresChecked" {{features_checked}} >
                  </span>
                  <p class="form-control" >Features</p>
               </div>
               <div class="input-group">
                  <span class="input-group-addon">
                     <input type="checkbox" aria-label="Bugs" id="bugsChecked" name="bugsChecked" {{bugs_checked}} >
                  </span>
                  <p class="form-control" >Bugs</p>
               </div>
               <div class="input-group">
                  <span class="input-group-addon">
                     <input type="checkbox" aria-label="Chores" id="choresChecked" name="choresChecked" {{chores_checked}} >
                  </span>
                  <p class="form-control" >Chores</p>
               </div>
               <div class="input-group">
                  <span class="input-group-addon">
                     <input type="checkbox" aria-label="Releases" id="releasesChecked" name="releasesChecked" {{releases_checked}} >
                  </span>
                  <p class="form-control" >Releases</p>
               </div>
               
                  <select class="form-control" name="labels">
                     <option value="">Label Filter</option>
                     {% for label in labels %}
                        {% if label == selected_label %}
                           <option selected="selected" value="{{label}}">{{label}}</option>
                        {% else %}
                           <option value="{{label}}">{{label}}</option>
                        {% endif %}
                     {% endfor %}
                  </select>
                  
                  <div class="input-group">
                     <span class="input-group-addon" aria-hidden="true">
                       <span class="glyphicon glyphicon-search"></span>
                    </span>
                     <input class="form-control" name="filter" type="text" >
                  </div>
                  
                  <input class="form-control" value="Filter" type="submit">
            </div>
               
         </form>
      </div>
      <div class="row">
         <div class="col-md-1">
         </div>
         <div class="col-md-10">            
         </div>
         <div class="col-md-1">
         </div>
      </div>

      <div class="site-wrapper-inner">
      </div> <!--site-wrapper-inner-->
      
      <div class="row footer">
         <div class="col-md-1">
         </div>
         <div class="col-md-10">
         </div>
         <div class="col-md-1">
         </div>
      </div>
      
      <nav class="navbar navbar-default navbar-fixed-bottom footer">
        <div class="container-fluid">
          <div>
            <ul class="nav navbar-nav navbar-left">
              <small> <a href="https://www.pivotaltracker.com/projects/527625">PivotalTracker project</a></small>
            </ul>
            <ul class="nav navbar-nav navbar-right">
               <small>Version: {{version|floatformat:0}}</small>
            </ul>
          </div>
        </div>
      </nav>
   </div> <!--site-wrapper-->
   
<table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top;">
      <!-- Spacer column - Left -->
      </td>      
      <td style="vertical-align: middle;">
      <!-- Main content column - Middle -->


         <p> </p>
         <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
            <tbody>
             <tr>
               <td style="vertical-align: middle;">
                 
                  <form id="generatePDF" action="/generatePDF" method="post">

                  <h3>Story List</h3>

                  <div>
                  <select name="stories" size="20" style="margin: 5px 0pt; width: 500px;" multiple="multiple">
                  {% for story in stories %}
                     <option value="{{story.id}}">{{story.name}}</option>
                  {% endfor %}
                  </select>
                  </div>
               </td>
               <td style="vertical-align: middle;">
                  <p/>
               
                  <div>
                     <label for="outputActivityChecked">Include Activity</label>
                     <input type="checkbox" id="outputActivityChecked" name="outputActivityChecked" {{outputActivity_checked}} />
                  </div>
               </td>
               <td style="vertical-align: middle;">
               
                  <div>
                     <input type="radio" name="format" value="full" checked="True"/>Full Report<br/>
                     <input type="radio" name="format" value="summary"/>Summary Report<br/>
                  </div>
                  
                  <p/>
                  {% if not apiKey %}
                     <div><input name="outputType" value="Generate PDF" type="submit" disabled="true" ></div>      
                  {% else %}
                     <div><input name="outputType" value="Generate PDF" type="submit"></div>      
                  {% endif %}
                  </form>
               </td>
             </tr>
            </tbody>
         </table>
      </td>
      <td style="vertical-align: top;">
      </td>
    </tr>
  </tbody>
</table>

    <script src="/js/main.js"></script>
    <!-- Set the Javascript client endpoint security -->
    <script src="https://apis.google.com/js/client.js?onload=init"></script>
     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/js/ie10-viewport-bug-workaround.js"></script>

</body></html>
