<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html><head>

  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
   <script>
         var xmlhttp;
         
         function loadXMLDoc(url, callbackFunction)
         {
            
            xmlhttp.onreadystatechange=callbackFunction;
            xmlhttp.open("GET",url,true);
            xmlhttp.send();
         }       

         function loadStories( projectId )
         {  
            url = "getStories?projectId=" + projectId;
            
            if (window.XMLHttpRequest)
              {// code for IE7+, Firefox, Chrome, Opera, Safari
               xmlhttp=new XMLHttpRequest();
              }
            else
              {// code for IE6, IE5
               xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
              }
            
            loadXMLDoc ( url, callback() );
         }
         
         function callback() 
         {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
             {
                xmlDoc=xmlhttp.responseXML;
                projectSelect = document.getElementById("Stories");
                txt="";
                x=xmlDoc.getElementsByTagName("ARTIST");
                for (i=0;i<x.length;i++)
                  {
                     txt=txt + x[i].childNodes[0].nodeValue + "<br>";
                  }
                document.getElementById("myDiv").innerHTML=txt;
             }
         }
   </script>
</head>
<body>
<table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
  <tbody>
      <td style="vertical-align: top;">
      <!-- Spacer column - Left -->
      </td>      
      <td style="vertical-align: top;">
      <!-- Navigation column - Left -->
         <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">

           <tbody>
               <div>
                  <h4 style="height: 200px;"></h4>
               </div>
            <tr>
               <div>
                  <b>Content Selection</b>
               </div>
            </tr>
            <tr>
               <div>
                  <a href="options">Content Options</a>
               </div>
            </tr>
            <tr>
               <div style="text-align: left;">{% if not apiKey %} <a href="SignIn">SignIn</a>
               {% else %} <a href="SignOut">Sign Out</a>{% endif %}
               </div>
            </tr>            
           </tbody>
         </table>
      </td>      
      <td style="vertical-align: middle;">
      <!-- Main content column - Middle -->
         <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">

           <tbody>
             <tr>
               <td style="vertical-align: middle;">
               <h1>Pivotal PDF</h1>
               <h2>Content Selection</h2>
               </td>
               <td style="vertical-align: middle; text-align: right;">
               <h2 style="height: 10px;">A User Story Document Generator</h2>
               <p style="margin-top: 5px; height: 30px;">
               Version: {{version|floatformat:0}}
               </td>
             </tr>
           </tbody>
         </table>

         <br>
         <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
            <tbody>
             <tr>
               <form id="getStories" action="/getStories" method="post">             
               <td style="vertical-align: top;">
                  <div>
                  <select name="projects" style="margin: 5px 0pt; width: 250px;" onchange="loadStories(this.value)" >
                  {% if not apiKey %}
                     <option>User Not Authenticated</option>
                  {% else %}
                     {% for project in projects %}
                        {% if project.id == selected_project %}
                           <option selected="selected" value="{{project.id}}">{{project.name}}</option>
                        {% else %}
                           <option value="{{project.id}}">{{project.name}}</option>
                        {% endif %}
                     {% endfor %}
                  {% endif %}
                  </select>
                  </div>
               </td>
               </form>
            </tr>
            <tr>
               <form id="filterStories" action="/filterStories" method="post">             
            
               <td style="vertical-align: middle;">

                  <div><label for="featuresChecked">Features</label><input type="checkbox" id="featuresChecked" name="featuresChecked" {{features_checked}}> 
                  <label for="bugsChecked">Bug</label><input type="checkbox" id="bugsChecked" name="bugsChecked" {{bugs_checked}} > 
                  <label for="choresChecked">Chore</label><input type="checkbox" id="choresChecked" name="choresChecked" {{chores_checked}} >
                  <label for="releasesChecked">Release</label><input type="checkbox" id="releasesChecked" name="releasesChecked" {{releases_checked}} > </div>

               
               </td>
               <td style="vertical-align: middle;">

                  <div>
                  <select name="labels" style="margin: 5px 0pt; width: 250px;">
                  <option value="">Label Filter</option>
                  {% for label in labels %}
                     {% if label == selected_label %}
                        <option selected="selected" value="{{label}}">{{label}}</option>
                     {% else %}
                        <option value="{{label}}">{{label}}</option>
                     {% endif %}
                  {% endfor %}
                  </select>
                  </div>
               </td>
               <td style="vertical-align: middle;">
                  
                  <div>Keyword Search <input name="filter" size="30" type="text"></div>
               </td>
               <td style="vertical-align: middle;">
                  {% if not apiKey %}
                     <div><input value="Set Search Filter" type="submit" disabled="true"></div>
                  {% else %}
                     <div><input value="Set Search Filter" type="submit"></div>
                  {% endif %}
               </td>
               </form>
             </tr>
            </tbody>
         </table>

         <p> </p>
         <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="2">
            <tbody>
             <tr>
               <td style="vertical-align: middle;">
                 
                  <form id="generatePDF" action="/generatePDF" method="post">

                  <h3>Story List</h3>

                  <div>
                  <select name="stories" size="20" style="margin: 5px 0pt; width: 500px;" multiple="multiple">
                  {% for story in stories %}
                     <option value="{{story.id}}">{{story.name}}</option>
                  {% endfor %}
                  </select>
                  </div>
               </td>
               <td style="vertical-align: middle;">
               
                  <div>
                     <input type="radio" name="format" value="full" checked="True"/>Full Report<br/>
                     <input type="radio" name="format" value="summary"/>Summary Report<br/>
                  </div>
                  
                  <p/>
                  {% if not apiKey %}
                     <div><input name="outputType" value="Generate PDF" type="submit" disabled="true" ></div>      
                  {% else %}
                     <div><input name="outputType" value="Generate PDF" type="submit"></div>      
                  {% endif %}
                  </form>
               </td>
             </tr>
            </tbody>
         </table>
         <p>Help advance the development of Pivotal PDF by contributing to stories at: <a href="https://www.pivotaltracker.com/projects/527625"> https://www.pivotaltracker.com/projects/527625</a></p>
         <p>Questions or general comments can be sent to : xtopher.brandt@gmail.com</p>
      </td>
      <td style="vertical-align: top;">
      </td>
  </tbody>
</table>

</body></html>
